.owl-prev {
    position: absolute;
    top: 50px;
    left: -70px;
    background-image: url(../img/icons/prev.png) !important;
    background-repeat: no-repeat !important;
    height: 40px;
    width: 100px;
	
}
.owl-next {
    position: absolute;
    top: 50px;
    right: -120px;
    background-image: url(../img/icons/next.png) !important;
    background-repeat: no-repeat !important;
    height: 40px;
    width: 100px;
	
}
@media screen and (max-width: 768px) {
    .owl-next {
    position: absolute;
    top: 50px;
    right: -20px;
	 background-image: url(../img/icons/next.png) !important;
    background-repeat: no-repeat !important;
    height: 40px;
    width: 100px;
	
}
.owl-prev{
    position: absolute;
    top: 50px;
    left: 30px;
	 background-image: url(../img/icons/prev.png) !important;
    background-repeat: no-repeat !important;
    height: 40px;
    width: 100px;
	
}
}
.owl-nav {
    
}
