.owl-prev-arrow {
    position: absolute;
    top: 80px;
    left: 150px;
    background-image: url(../img/icons/prev.png) !important;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
	z-index: 1000;
}
.owl-next-arrow {
    position: absolute;
    top: 80px;
    right: 100px;
    background-image: url(../img/icons/next.png) !important;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
	z-index: 1000;
}
@media screen and (max-width: 768px) {
    .owl-next-arrow {
    position: absolute;
    top: 85px;
    right: -20px;
	 background-image: url(../img/icons/next.png) !important;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
	z-index: 1000;
}
.owl-prev-arrow{
    position: absolute;
    top: 85px;
    left: 30px;
	 background-image: url(../img/icons/prev.png) !important;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
	z-index: 1000;
}
}
.owl-nav {
    display: none;
}
